* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    background-color: black;
    font-family: 'copperplate gothic light';    
}

header {
     background-position: center;
     color: darkorange;        
     text-transform: uppercase;
     line-height: 1;    
    }
    
#logo {
    float: left;
    font-size: 250%;
}

.menu {
    float: right;
    font-size: 30px;
}

h1, h2 {
    font-family: 'copperplate gothic light';
    font-size: 40px;
    line-height: 1;
    text-transform: uppercase;
    color: darkorange;
}

p {
    font-family: 'copperplate gothic light';
    font-size: 25px;
    line-height: 1.25;
    color: darkorange;
    text-align: left;
}

.social-networks {
    text-align: center;
}

.social-networks > li {    
    display: inline;
}
.social-networks i {       
    font-size: 180%;    
    margin: 1%;
    padding: 5%;
    color: darkorange;
}

a {
    color: darkorange;
}

footer {
    height: 150px;
    display: white;
    color: darkorange;

}