@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
.body {
    font-family: Lato, sans-serif;
    font-weight: 300;    
}

h1, h2, h3 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: darkorange;
    letter-spacing: 2px;
    
}

#logo {
    font-size: 300%;
    margin: 0 auto;
}

#menu {
    font-size: 150%;
    letter-spacing: 4px;
}

#main-image {
    height: 400px;
    width: 100%;
    background: url('../css/images/main-image.jpg') no-repeat center center;
}

#meet-points {
    font-size: 100%;
    letter-spacing: 4px;
    
}

.left-about-heading {
    font-size: 100%;
    
}